* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
ul {
  display: flex;
  gap: 2rem;
}
ul li {
  display: flex;
  text-decoration: none;
}
.hamburger {
  width: 50px;
  height: 40px;
  display: none;
  flex-direction: column;
  gap: 5px;
}

.hamburger span {
  background-color: black;
  border-radius: 10px;
  height: 7px;
  width: 30px;
}
.hamburger.active span:nth-child(2) {
  display: none;
}
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
}
@media screen and (max-width: 400px) {
  ul {
    display: none;
  }

  ul {
    position: fixed;
    top: 80px;
    left: -100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: black;
    color: rgb(201, 123, 123);
    width: 100%;
    transition: 0.8s;
  }
  .hamburger {
    display: flex;
  }

  ul.active {
    left: 0;
  }
}
