* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup.active {
  visibility: visible;
  opacity: 1;
}

.tikla {
  width: 150px;
  height: 70px;
  cursor: pointer;
}

.remove {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: brown;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}
.table {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 600px;
}

.previous,
.next {
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}
img {
  border-radius: 20px;
}
